.CodeMirror {
  border-radius: 20px;
  font-size: 13px;
  font-weight: 400;
  font-family: "Fira Code", monospace;
  max-height: 230px;
  padding: 5px 5px 5px 5px;
  background-color: #282c34;
}

.CodeMirror .CodeMirror-code {
  position: relative;
}

.CodeMirror .CodeMirror-code .CodeMirror-linenumber {
  position: absolute;
  left: 0;
  width: 40px;
  text-align: right;
  background: #282a36;
  color: #6272a4;
  pointer-events: none;
}

.CodeMirror .CodeMirror-code .CodeMirror-line {
  padding-left: 40px;
}

.CodeMirror .CodeMirror-linebackground {
  left: 40px !important;
}

.CodeMirror .CodeMirror-gutter-wrapper {
  background: #282a36;
}

.CodeMirror .CodeMirror-code .cm-tab {
  display: inline-block;
  width: 2em;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="2" height="12"><line x1="0" y1="0" x2="0" y2="12" stroke="%236272a4" stroke-width="1"/></svg>')
    repeat-y left center;
}

.CodeMirror-hints {
  background: #282a36;
  color: #f8f8f2;
  border: 1px solid #6272a4;
  font-family: "Fira Code", monospace;
  font-size: 14px;
  z-index: 10000;
  padding: 5px 10px 5px 10px;
  cursor: pointer;
}

.CodeMirror-hints-active {
  background: #0a0909;
}

.cm-s-dracula .CodeMirror-lines {
  background-color: #1e202a;
  color: #f8f8f2;
  border-radius: 10px;
  margin: 0 5px 0 5px;
}

.cm-s-dracula .CodeMirror-activeline-background {
  background: #282424;
}

/* Cor das seleções */
.cm-s-dracula .CodeMirror-selected {
  background: #44475a;
}

.cm-s-dracula .CodeMirror-gutters {
  background-color: #282a36;
  border-right: 1px solid #44475a;
  color: #6272a4;
  margin: 0 5px 0 5px;
}

.CodeMirror-gutters {
  border-right: 1px solid #ddd;
  background-color: #f7f7f7;
}

.CodeMirror-foldgutter {
  width: 16px;
}

.CodeMirror-foldmarker {
  color: #666;
  text-shadow: none;
  font-family: arial;
  line-height: 0.3;
  cursor: pointer;
}

.CodeMirror-foldmarker::after {
  content: "▶";
  font-size: 12px;
}

.CodeMirror-foldgutter-open .CodeMirror-foldmarker::after {
  content: "▼";
}

.CodeMirror-lint-marker,
.CodeMirror-lint-marker-error {
  background-color: #ff0000;
  color: #fff;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  display: inline-block;
  text-align: center;
}

.CodeMirror-lint-marker-warning {
  background-color: #ffcc00;
  color: #fff;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  display: inline-block;
  text-align: center;
}

.CodeMirror-code .CodeMirror-foldgutter-open,
.CodeMirror-code .CodeMirror-foldmarker::before,
.CodeMirror-code .CodeMirror-foldmarker::after {
  background: none !important;
}

.CodeMirror-indent {
  border-left: 1px solid #ddd;
}

.CodeMirror-code .CodeMirror-indent::before {
  content: " ";
  display: inline-block;
  height: 100%;
  width: 1px;
  background: #ddd;
  position: absolute;
  left: 0;
}
